<footer class="footer">
  <div class="container footer-grid">
    <div class="footer-info">
      <a routerLink="/" class="footer-logo">Family <span>ЛюКс</span></a>
      <p class="footer-desc">Затишні апартаменти для сімейного відпочинку в самому серці Кам'янця-Подільського.</p>
      <div class="footer-contacts">
        <p><i class="bi bi-geo-alt"></i>Кам'янець-Подільський, Жванецьке шосе</p>
        <p><i class="bi bi-telephone"></i> <a href="tel:+380673801004">+38 (067) 380 10 04</a></p>
      </div>
    </div>
    
    <div class="footer-map">
      <iframe 
        src="https://maps.google.com/maps?q=Family%20Люкс,%20Жванецьке%20шосе,%202а,%20Кам'янець-Подільський&t=&z=15&ie=UTF8&iwloc=&output=embed" 
        width="100%" height="200" style="border:0; border-radius: 15px;" allowfullscreen="" loading="lazy">
      </iframe>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2026 Family Люкс. Всі права захищені.</p>
  </div>
</footer>